header {
    background-color: #6f42c1;
    color: #fff;
}
footer {
    background-color: #6f42c1;
    color: #fff;
}
body{
    background-color: black;
}
nav{
    background-color: #6f42c1;
    color: #fff;
    
}